
/* Font Imports*/
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates|Source+Sans+Pro|Lobster');

:root {
	/* Color Scheme- "Cool and Calm" by designschool.com */
	--aqua: #6BBAA7; /* main  highlight */
	--sunshine: #FBA100; /* secondary highlight */
	--whitepink: #F0F0F0;
	--lavender: #6C648B; /* bkg */
	--dustyrose: #B6A19E; /* bkg */
	--charcoal: #3C3C3C;
	--terracotta: #945D60;
  --clean: #DFDCE3;
	/* Fonts- Montserrat Alternates & Source Sans Pro */
	--highlightfont: 'Montserrat Alternates', sans-serif;
	--mainfont: 'Source Sans Pro', sans-serif;
}


/* Body styling */

body {
	color: var(--charcoal);
	background-color: var(--whitepink);
	font-family: var(--mainfont);
  align-content: center;
}


header {
	text-align: center;
}

h1 {
	display: inline-block;
  margin-top: 40px;
	font-size: 45px;
  font-family: var(--highlightfont);
  text-align: center;
	background-color: white;
	border-radius: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	height: auto;
}

#start {
	background-color: var(--dustyrose);
	color: white;
	font-size: 16px;
	border-radius: 10%;
	padding: 10px;
	margin-top: 15px;
}

#starter {
  text-align: center;
}

#board_stuff {
	align-items: center;
	border-radius: 5px !important;
}

table {
	text-align: center !important;
	margin: auto;
	background-color: white;
	border: none;
	border-radius: 5px !important;
}

td {
  height: 50px;
  width: 50px;
	border-radius: 5px !important;
	border: solid black;
}

#stats {
	text-align: center;
	margin: 5%;
	font: 20px solid black;
	font-family: var(--mainfont);
	font-weight: bold;
}
.spot {
  border: 4px solid red;
}
.hit {
  background-image: url("explode.jpg");
}
.miss {
  background: black;
}
