/* Top10Lang CSS File*/


/* META STYLING */


/* Google Fonts Imports */

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(https://fonts.googleapis.com/css?family=Raleway);
:root {
  /* colorscheme variables */
  --mbkg: #FAFAFA;
  --bbkg: #E4E4E4;
  --pink: #D4A0A7;
  --font: #898989;
  --rred: #C84630;
  --rgreen: #5DA271;
  /* font variables */
  --mnfont: 'Raleway', sans-serif;
}


/* body default styling */

body {
  background: var(--mbkg);
  font-family: var(--mnfont);
}


/* Nav bar styling */

.glyphicon {
  color: var(--bkg);
}

.navbar {
  background-color: var(--font);
  border-radius: .5em;
}

.colorme {
  color: var(--mbkg);
  text-shadow: none;
  letter-spacing: 1px;
}

.jumbotron {
  background: var(--bbkg);
  border-radius: .5em;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 4.5em;
  letter-spacing: 1px;
}

#myCarousel {
  background-color: var(--mbkg);
}

.img-responsive {
  max-width: 50px;
  max-height: 100px;
}

.img-responsive .mk_round {
  border-radius: 1em;
}

.row {
  padding: 20px;
}

.panel {
  background: var(--bbkg);
  border-radius: 2em;
  padding: 15px;
}

#blist {}


/* Style the actual buttons in row 2*/

.btn-group-vertical > a {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  font-family: sans-serif;
  border-radius: 8px !important;
}

#ul_list {
  margin: 20px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

#u_list li {
  max-width: 200px;
  padding-top: 20px;
  flex-shrink: 1;
  /* word-spacing: 1em; */
}


/* IMAGE STYLING */

.mk_round {
  border-radius: 20%;
}


/* Resize row 3 images */

.med_logo {
  width: 70px;
  height: auto;
  display: block;
  margin: 15px auto;
}

.small_logo {
  width: 100px;
  height: auto;
  display: block;
  margin: 15px auto;
}

.xsmall_logo {
  width: 140px;
  height: auto;
  display: block;
  margin: 15px auto;
}


/* Align row 3 images*/

.med_logo,
.small_logo,
.xsmall_logo {
  margin-left: 30px;
}
